###############################################################################
# Dependency directories
###############################################################################
**/node_modules/

###############################################################################
# Build / cache artifacts
###############################################################################
dist/
build/
out/
out-tsc/
temp/
tmp/
.build/
.turbo/
**/.turbo/**
.turbo-cache/*
.nx/cache/
.nx/workspace-data/
**/stats.yml
**/meta.json
**/build-metafile.json

###############################################################################
# Frameworks
###############################################################################
vite*.config.ts.timestamp*

###############################################################################
# Environment / secrets
###############################################################################
.env*

###############################################################################
# Logs, dependencies
###############################################################################
*.log*
yarn-error.log
.pnpm-debug.log
.pnpm-debug.log_
.eslintcache
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

###############################################################################
# TypeScript incremental build info
###############################################################################
tsconfig.tsbuildinfo
tsconfig.*.tsbuildinfo

###############################################################################
# Test artifacts & screenshots
###############################################################################
__screenshots__/
**/coverage
.nyc_output/
vitest.config.*.timestamp*

###############################################################################
# OS / editor / IDE files
###############################################################################
.DS_Store
.fleet/
.idea/
.webstorm/backup
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*
.project
.classpath
.c9/
*.launch
.settings/
