# To get started with Dependabot version updates, you'll need to specify which
# package ecosystems to update and where the package manifests are located.
# Please see the documentation for all configuration options:
# https://docs.github.com/code-security/dependabot/dependabot-version-updates/configuration-options-for-the-dependabot.yml-file

version: 2
updates:
  - package-ecosystem: npm
    directories:
    - packages/common/*
    - packages/configs/*
    - packages/docs/*
    - packages/frameworks/*
    schedule:
      interval: "daily"
    versioning-strategy: increase
    groups:
      production:
        dependency-type: production
        update-types:
        - patch
        - minor
      development:
        dependency-type: development
        update-types:
        - patch
        - minor
