<!doctype html>
<html data-brand="qualcomm" data-theme="dark" lang="en">
  <head>
    <meta charset="utf-8" />
    <title>AngularSsr</title>
    <base href="/" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <link href="favicon.ico" rel="icon" type="image/x-icon" />
    <link href="https://fonts.googleapis.com" rel="preconnect" />
    <link href="https://fonts.gstatic.com" rel="preconnect" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wdth,wght@8..144,25..151,400..600&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400..500&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <app-root></app-root>
  </body>
</html>
