/* You can add global styles to this file, and also import other style files */
@import "@qualcomm-ui/qds-core/styles/components.css";
@import "@qualcomm-ui/qds-core/themes/qualcomm-dark.css";
@import "@qualcomm-ui/qds-core/themes/qualcomm-light.css";

html {
  height: 100%;
}

body {
  height: 100%;
  background-color: var(--color-background-neutral-01);
}
